<div class="container-fluid hero">
    <h1>
        Be Industry Ready <br> With S.C.O.P.E
    </h1>
</div>

<div id="branch-cards">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 style="text-align: center;font-weight: lighter;">Discover the perfect program for your branch</h1>
                <br>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="b-card d-flex flex-column justify-content-center align-items-center">
                    <img src="https://www.udacity.com/assets/iridium/images/homepage/shared/icons/school-cards/dev_icon.png"
                        style="height: 50px;width: 50px;" class="b-img">
                    <br>
                    <h3>CS</h3>
                    <br>
                    <button type="button" class="btn btn-primary">See Courses</button>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="b-card d-flex flex-column justify-content-center align-items-center">
                    <img src="https://www.udacity.com/assets/iridium/images/homepage/shared/icons/school-cards/dev_icon.png"
                        style="height: 50px;width: 50px;" class="b-img">
                    <br>
                    <h3>IT</h3>
                    <br>
                    <button type="button" class="btn btn-primary">See Courses</button>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="b-card d-flex flex-column justify-content-center align-items-center">
                    <img src="https://www.udacity.com/assets/iridium/images/homepage/shared/icons/school-cards/dev_icon.png"
                        style="height: 50px;width: 50px;" class="b-img">
                    <br>
                    <h3>EXTC</h3>
                    <br>
                    <button type="button" class="btn btn-primary">See Courses</button>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="b-card d-flex flex-column justify-content-center align-items-center">
                    <img src="https://www.udacity.com/assets/iridium/images/homepage/shared/icons/school-cards/dev_icon.png"
                        style="height: 50px;width: 50px;" class="b-img">
                    <br>
                    <h3>ETRX</h3>
                    <br>
                    <button type="button" routerLink="courses" class="btn btn-primary">See Courses</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 style="text-align: center;font-weight: lighter;">Industry leading programs recognized by top companies
                worldwide</h1>
            <br>
            <br>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2" style="text-align: center;">
            <i class="fa fa-google" style="font-size: 3rem;"></i>
        </div>


        <div class="col-sm-2" style="text-align: center;">
            <i class="fa fa-linkedin" style="font-size: 3rem;"></i>
        </div>

        <div class="col-sm-2" style="text-align: center;">
            <i class="fa fa-facebook" style="font-size: 3rem;"></i>
        </div>

        <div class="col-sm-2" style="text-align: center;">
            <i class="fa fa-twitter" style="font-size: 3rem;"></i>
        </div>

        <div class="col-sm-2" style="text-align: center;">
            <i class="fa fa-github" style="font-size: 3rem;"></i>
        </div>

        <div class="col-sm-2" style="text-align: center;">
            <i class="fa fa-apple" style="font-size: 3rem;"></i>
        </div>
    </div>
</div>

<br>
<br>
<br>

<div class="container-fluid"
    style="padding-top: 3em;padding-bottom:3em;color: #fff;background-image: url('https://www.udacity.com/assets/iridium/images/new-home/experiments/home-b/bg-ready-to-begin.svg');">
    <div class="d-flex flex-column justify-content-center align-items-center">
        <h1>Ready To Begin? </h1>
        <p class="lead">Enroll in a S.C.O.P.E program and build your best future today.</p>
    </div>
</div>

<footer style="background-color: #212529;color: #fff;text-align: center;padding: 1em;">
    <p class="lead">&copy;Sardar Patel Institute of Technology</p>
</footer>