<div class="course-wrapper">

    <h1 style="text-align: center;font-weight: lighter;">Enrolled Courses</h1>
    <br>
    <h4 style="text-align: center;font-weight: lighter;" *ngIf="courses.length==0">You have not enrolled in any course</h4>
    <div class="container" *ngFor="let course of courses" style="margin-top: 2em;">
        <div class="row">
            <div class="col-sm-4">
                <img src="https://d20vrrgs8k4bvw.cloudfront.net/images/degrees/nd578/catalog-card.jpg"
                    class="img-fluid">
            </div>
            <div class="col-sm-7" style="text-align: center;">
                <h3>{{ course.title }}</h3>
                <p>{{ course.author }}</p>
                <div class="skill-wrapper">
                    <div class="skill" *ngFor="let skill of course.skills">
                        {{ skill }}
                    </div>
                </div>           
                
            </div>
        </div>
    </div>


</div>